<div class="about-container">
  <div class="row">
    <div class="col-12">
      <div>
        <h1>Sobre o SHIFT CODE</h1>
      </div>
      <hr />

      <div class="paragraphs">
        <p>
          Ser determinante para o sucesso de nossos clientes, parceiros e
          colaboradores, sendo referência na entrega e geração de valor, com
          soluções inovadoras e de alto impacto tecnológico, prosperando com
          excelência e inovação, buscando a liderança no ecossistema de cidades
          inteligentes, internet das coisas e Healthtech.
        </p>

        <p>
          Estar posicionada entre as melhores empresas do mercado de soluções em
          IoT, garantindo que a excelência nos serviços prestados, impactem
          fortemente na quebra de paradigmas e no valor gerado ao cliente, aos
          colaboradores, aos parceiros comercias e à própria empresa, mantendo-a
          como referência pelo profundo entendimento das demandas existentes,
          entregando a solução.
        </p>

        <p>
          Contamos com parceiros dentro e fora do país, que contribuem em alto
          nível, para que possamos entregar a nossos clientes, excelência e
          ganhos operacionais comprovadamente tangíveis.
        </p>

        <p>
          <strong>SHIFT CODE.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
