<div class="home">
  <app-header></app-header>

  <!-- Features section-->
  <div class="title">
    <h1>Sensores Inteligentes</h1>
    <h2>Alinhado com os Objetivos de Desenvolvimento Sustentável da ONU.</h2>
  </div>
  <section class="py-3" id="features">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-4">
          <img
            class="running-woman"
            src="assets/tecnologia.jpg"
            alt="mulher correndo"
          />
        </div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <h2 class="h5">Sistema</h2>
              <hr />
              <p class="mb-0">
                Sistema integrado composto por um Sensor Volumétrico, que
                transmite via GPRS, um aviso em tempo real, quando um bueiro
                atinge um determinado nível de enchimento. Ao receber os dados,
                nossa Plataforma de Gestão, envia um alerta para as autoridades,
                tanto para desviar o fluxo no transporte até mesmo para a
                manutenção do local liberando o bueiro para escoamento das águas
                pluviais.
              </p>
            </div>
            <div class="col mb-5 h-100">
              <h2 class="h5">Benefícios</h2>
              <hr />
              <p class="mb-0">* Redução do custo operacional.</p>
              <p class="mb-0">* Redução de pontos de alagamento.</p>
              <p class="mb-0">* Eficiência Operacional.</p>
              <p class="mb-0">* Big data 100%.</p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <h2 class="h5">Pesquisa</h2>
              <hr />
              <p class="mb-0">
                Segundo estudo da FEA/USP, R$ 1 BILHÃO/ANO é o prejuízo que a
                cidade de São Paulo tem, por causa de enchentes.
              </p>
            </div>
            <div class="col h-100">
              <h2 class="h5">Clima Tempo</h2>
              <hr />
              <p class="mb-0">* Mapa de vulnerabilidade.</p>
              <p class="mb-0">* Previsão de risco de alagamento.</p>
              <p class="mb-0">* Informações sobre pontos de alagamento.</p>
              <p class="mb-0">* Previsão de probabilidade de chuva.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial section-->
</div>
